**/*.pdf
papers/
results/
*.csv
**/*.png 
*.txt
ROM_app/**/
!ROM_app/data2/
!ROM_app/utils/
NS_ROM/**/
!NS_ROM/utils
!NS_ROM/data2
NS_ROM_DEIM/**/
!NS_ROM_DEIM/data2
!NS_ROM_DEIM/utils
rotation_NS/**/
!rotation_NS/mesh
!rotation_NS/states
navier_stokes/**/
!navier_stokes/states
!navier_stokes/mesh
eigen_analysis/*.xdmf
eigen_analysis/*.h5
turek_benchmark/**/
!turek_benchmark/mesh
rotation_NS_ROM/**/
!rotation_NS_ROM/data2
