**/*.pdf
papers/
results/
*.csv
**/*.png 
*.txt
ROM_app/**/
!ROM_app/data2/
!ROM_app/utils/
NS_ROM/**/
!NS_ROM/utils
!NS_ROM/data2
NS_ROM_DEIM/**/
!NS_ROM_DEIM/data2
!NS_ROM_DEIM/utils
rotation_NS/**/
!rotation_NS/mesh
!rotation_NS/states
